html{ /*From: https://stackoverflow.com/questions/13522787/how-do-i-stop-users-from-being-able-to-scroll-horizontally-on-my-site*/
  overflow-x: hidden;
  width: 100%;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

#notepad{
  z-index: 10;
  position: absolute;
  bottom: 10px;
  right: -25px;
  width: 250px;
  user-select: none;
}

#notepad:hover{
  transform:scale(1.05)
}

#taskTitle{
  position: absolute;
  z-index: 10;
  color: black;
  font-family: 'Berkshire Swash', cursive;
  font-size: 45px;
  top: 30px;
  right: -400px;
  height: 100px;
  text-decoration: underline;

}

.taskList{
  position: absolute;
  z-index: 10;
  color: black;
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;
  /*font-size: 2vw;*/
  right: -525px;
  top: 10vh;
  width: 450px; /*30vw*/

}

#noteback{
  z-index: 2;
  position: absolute;
  right: -440px;
  width: 400px;
  height: 430px;
  top: 10px;
  background-color:floralwhite;

}

#notebackR{
  z-index: 1;
  position: absolute;
  right: -460px;
  width: 440px;
  height: 460px;
  top: 0px;
  background-color:firebrick; 

}

.noteClose{
  z-index: 10;
  color: black;
  position: absolute;
  right: -425px;
  top: 350px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 3vw;
  width: 50px;
  height: 20px;
  padding: 20px;

}

.noteClose:hover{
  color:dimgrey;
}

#loader{
  position: absolute;
  z-index: 9;
  width: 150vw;
  height: 100vh;
  top: -5px;
  left: -5px;
  background-color: #FFDA8B;
}